* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

.headphones{
    width:370px;
    height: 525px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
 
}
.headphones img{
   position:absolute;
  
}
.headphones .square{
  position: absolute;
  width:370px;
  height: 154px;
  bottom:0px;
  background-color: #20211f; 
}
.headphones .square1{
   width: 370px;
   height: 45px;
   position: absolute;
   background-color: black;
   opacity: 0.5;
   bottom: 154px;
}
.headphones .price{
   position: absolute;
   right:0;
   width: 109px;
   height: 47px;
   top:38px;
   background-color: #4db2ac;
   border-radius: 30px 0px 0px 30px;
}

.headphones .square .hph1 {
   position: absolute;
   color: #edec93;
   left:93px;
   top:15px;
}
.headphones .square .hph2{
   position: absolute;
   color:white;
   font-size: 12px;
   top:66px;
   left:65px;
}
.headphones .price .pp{
   color:white;
   position: absolute;
   font-size: 28px;
   top:9px;
   left:18px;
}
.square1 .imgicon{
   position: absolute;
   right:0;
}